[package]
name = "rio"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.72"
clap = { version = "4.3.12", features = ["derive"] }
env_logger = "0.10.0"
lasso = { version = "0.7.2", features = ["multi-threaded"] }
log = { version = "0.4.19", features = ["release_max_level_warn"] }

[profile.release]
# Got smaller with s than z in a quick check.
opt-level = "s"
strip = true

[profile.release-lto]
# Shrink more per https://github.com/johnthagen/min-sized-rust
codegen-units = 1
inherits = "release"
lto = true
panic = "abort"
